<aside
  class="bg-[#EC4E20] fixed pt-16 w-80 shadow-lg h-[100vh]"
>
  <ul>
    <li [routerLink]="'/'" class="p-4 cursor-pointer text-black"  routerLinkActive="bg-[#FF9505] font-bold text-black" [routerLinkActiveOptions]="{exact: true}">All</li>
    <li [routerLink]="'/importants'" class="p-4 cursor-pointer text-black" routerLinkActive="bg-[#FF9505] font-bold text-black">Important</li>
    <li [routerLink]="'/completed'" class="p-4 cursor-pointer text-black" routerLinkActive="bg-[#FF9505] font-bold text-black">Completed</li>
  </ul>
</aside>
